# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

/.gradle/
/.idea/
/build/
/module-main/build/
/module-repository/build/
/module-service/build/
/module-web/build/
/.vscode/
